html, body, #map {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  
  .custom-control {
    padding: 6px 8px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
  }
  
  .custom-control button {
    font-size: 14px;
    padding: 4px 8px;
    background: #0078A8;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .custom-control button:hover {
    background: #005580;
  }
  
  #fileInput {
    display: block;
    margin: 8px;
  }
  
  .validation-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    max-width: 300px;
  }

  .building-icon {
    font-size: 10px; /* Ukuran font emoji */
    text-align: center;
    line-height: 1;
    transform: translate(-50%, -50%); /* Pusatkan simbol */
  }

  /* Ubah warna cluster */
  .marker-cluster-small {
    background-color: rgba(110, 204, 57, 0.6);
  }
  .marker-cluster-medium {
    background-color: rgba(240, 194, 12, 0.6);
  }
  .marker-cluster-large {
    background-color: rgba(241, 128, 23, 0.6);
  }

  /* Ukuran teks dalam cluster */
  .marker-cluster div {
    font-size: 14px;
    font-weight: bold;
  }

  .info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8); /* Background transparan */
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
  }
  .info h4 {
    margin: 0 0 5px;
    color: #777;
  }
  .legend i {
    width: 18px; /* Lebar kotak warna */
    height: 18px; /* Tinggi kotak warna */
    float: left;
    margin-right: 8px;
    opacity: 0.7;
    border-radius: 2px; /* Sedikit rounded corner */
  }
  